.mobileNav {
  display: flex;
  background-color: rgb(53, 53, 53);
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.mobileNav svg {
  color: rgb(153, 153, 153);
  font-size: 2rem;
  display: block;
}

/* .mobileNav svg:hover {
  color: rgb(247, 243, 6);
} */
.mobileNav svg#open {
  color: rgb(193, 225, 243);
}
.mobileNav svg:active {
  color: #fff;
}

@media (min-width: 1029px) {
  .mobileNav {
    display: none;
  }
}
