.mobileTopSocial {
  margin-top: 4rem;
}

.mobileTopSocial .topSocial {
  display: block;
  padding: 0.8rem 0;
}

.mobileTopSocial .topSocial > .topSocial__container {
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

/* .mobileTopSocial .topSocial > .topSocial__container .socialLeft{
  width: 300px;
} */
.mobileTopSocial .socialLeft {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.mobileTopSocial .socialLeft > span:first-child {
  flex: 1;
}
.mobileTopSocial .socialRight {
  /* text-align: center; */
  padding-left: 1rem;
}

.mobileNavMenu + .mobileTopSocial {
  margin-top: -0.1rem;
}
@media (min-width: 930px) {
  .mobileTopSocial {
    display: none;
  }
}
