* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(136, 136, 136);
  --glo-green: rgb(69, 182, 73);
  --heading-color: rgb(102, 102, 102);
}

.App {
  /* position: relative; */
}

.allMobile {
  width: 100%;
}
